body {
  background-color: #fcfcfc;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  .MuiTableRow-root .MuiTableCell-root {
    padding: 5px;
    overflow: hidden;
    width: 25% !important;
  }

  thead.MuiTableHead-root,
  tbody.MuiTableBody-root,
  .MuiPaper-root .MuiToolbar-root {
    display: block;
  }

  tbody.MuiTableBody-root {
    overflow: scroll;
    max-height: 80vh;
  }

  .MTableToolbar-title-39 {
    display: block;
    width: 100%;
    text-align: left;
  }

  .MTableToolbar-actions-38,
  .MTableToolbar-searchField-40 {
    display: inline-block;
  }
}

.modal-button {
  border: 0;
  text-decoration: underline;
  font-size: 15px;
  font-family: "Roboto", "Helvetica", "Arial";
}